<!doctype html>
<html>
    <head>
        <title>{{ titre }}</title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <tbody>
        <h1>{{ titre }}</h1>
        
        <ul>
            <li><a href="controleur.php?action=list&categorie=1">Boissons </a></li>
             <li><a href="controleur.php?action=list&categorie=2">Biscuits </a></li>
              <li><a href="controleur.php?action=list&categorie=3">Fruits secs </a></li>
        </ul>

        </tbody>