<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>{{ titre }}</title>
</head>


<body>

    <p>Plongez dans un monde de délices exquis où chaque bouchée raconte une histoire de saveurs.<br> Nous vous invitons à explorer l'extraordinaire, à savourer l'inattendu, et à éveiller vos papilles avec une sélection soigneusement choisie de biscuits artisanaux, boissons rafraîchissantes et fruits secs gourmands.</p>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="productimages/fruitsec.jpg">
            </div>
            <div class="carousel-item">
                <img src="productimages/cookiesChocolat.jpg">
            </div>
            <div class="carousel-item">
                <img src="productimages/jusdefruits.jpg">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>





    
  
   

  
    
    
   
</body>
</html>
<style>

.introduction {
    background-image: url('productimages/cute.jpg');
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #fff; 
    color: #333; 

}
.parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.child {
    width: 50px;
    height: 30px;
    border: 1px solid red;
    padding: 1rem 1rem;
    display: inline-block;
}
.logo{
    width:100px;
    height:100px;
}

.text{
    background-color: white;

}

.body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.parallax {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background-image,
.background-image-2,
.background-image-3,
.background-image-4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.background-image-2 {
    background-image: url('productimages/jusdefruits.jpg'); 
}

.background-image-3 {
    background-image: url('productimages/fondecran.jpg'); 
}

.background-image-4 {
    background-image: url('productimages/fruitsec.jpg'); 
}
.content {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    color: white; 

}

/* for nav bar*/
.inline{
    display: inline-block;
    width:2000px;
    
}
.separate{
    margin-left:20px;
}
a {  color: deeppink; text-decoration: none; }

header {
    background-color:pink;
    
    padding: 30px 0;
}
h1 { color: #F90B6D; font-family: " Great Vibes, cursive" ; font-size: 50px; font-weight: 400; line-height: 40px; margin-left : 30px; margin-right : 70px; }

.logo{
    width:100px;
    height:100px;
}
/* end*/

h2 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 35px; line-height: 40px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: justify; text-shadow: 0 1px 1px #fff; }
p { color: #d54d7b; font-size: 29px; font-family: "Great Vibes", cursive; line-height: 45px; text-align: center; text-shadow: 0 1px 1px #fff; }



.container {
    width: 80%;
    margin: 0 auto;
    
}




.trait-horizontal-rose {
    border: round; 
    height: 5px; 
    background-color: purple; 
    margin: 20px 0; 
    margin-left:50px;
    margin-right:50px;
    border-radius:5px;
}

.carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;

}





</style>


