<!doctype html>
<html>
    <head>
        <title>{{ titre }}</title>
        <meta charset='UTF-8'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <tbody>
        <h1>{{ titre }}</h1>
        
        <ul>
            <li><a href="controleur.php?action=list&categorie=1">Boissons </a></li>
             <li><a href="controleur.php?action=list&categorie=2">Biscuits </a></li>
              <li><a href="controleur.php?action=list&categorie=3">Fruits secs </a></li>
              <li><a href="controleur.php?action=cartconsult">Mon panier </a></li>
               <li><a href="controleur.php?action=subscribe">Inscription </a></li>
        </ul>

        </tbody>